body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../COS-事后刻录_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:8px;
    width:1024px;
    height:747px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:753px;
}

.u1 {
    position:absolute;
    left:2px;
    top:366px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../COS-事后刻录_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:26px;
    top:44px;
    width:1011px;
    height:702px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1017px;
    height:708px;
}

.u3 {
    position:absolute;
    left:2px;
    top:343px;
    width:1007px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../COS-事后刻录_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:21px;
    top:9px;
    width:1022px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1028px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:7px;
    width:1018px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../COS-事后刻录_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:1017px;
    top:18px;
    width:20px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../COS-事后刻录_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:990px;
    top:18px;
    width:20px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_container {
    position:absolute;
    left:32px;
    top:13px;
    width:25px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../COS-事后刻录_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:38px;
    top:211px;
    width:485px;
    height:255px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:491px;
    height:261px;
}

.u13 {
    position:absolute;
    left:2px;
    top:120px;
    width:481px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../COS-事后刻录_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:57px;
    top:202px;
    width:90px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:51px;
    top:229px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:161px;
    top:226px;
    width:346px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:51px;
    top:259px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:161px;
    top:256px;
    width:346px;
    height:70px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:51px;
    top:364px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../COS-事后刻录_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:38px;
    top:480px;
    width:989px;
    height:215px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:995px;
    height:221px;
}

.u22 {
    position:absolute;
    left:2px;
    top:100px;
    width:985px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../COS-事后刻录_files/u14_normal.png');
}

.u23_container {
    position:absolute;
    left:57px;
    top:470px;
    width:90px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:51px;
    top:334px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:16px;
    top:0px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:0px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:16px;
    top:0px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u32 {
    position:absolute;
    left:161px;
    top:364px;
    width:347px;
    height:90px;
    overflow:hidden;
}

#pd1u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:347px;
    height:90px;
    
}

.u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:346px;
    height:89px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:16px;
    top:0px;
    width:334px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:347px;
    height:90px;
    
}

.u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:346px;
    height:89px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:16px;
    top:0px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:16px;
    top:0px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:16px;
    top:0px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:16px;
    top:0px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:51px;
    top:498px;
    width:965px;
    height:184px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46_normal {
    background-image: url('../COS-事后刻录_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:542px;
    top:211px;
    width:485px;
    height:79px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:491px;
    height:85px;
}

.u47 {
    position:absolute;
    left:2px;
    top:32px;
    width:481px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../COS-事后刻录_files/u14_normal.png');
}

.u48_container {
    position:absolute;
    left:561px;
    top:202px;
    width:90px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:16px;
    top:0px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:555px;
    top:259px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:807px;
    top:259px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:624px;
    top:256px;
    width:140px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:876px;
    top:256px;
    width:140px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:16px;
    top:0px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../COS-事后刻录_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:38px;
    top:129px;
    width:989px;
    height:65px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:995px;
    height:71px;
}

.u59 {
    position:absolute;
    left:2px;
    top:24px;
    width:985px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../COS-事后刻录_files/u14_normal.png');
}

.u60_container {
    position:absolute;
    left:57px;
    top:118px;
    width:90px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:16px;
    top:0px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:16px;
    top:0px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:16px;
    top:0px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:16px;
    top:0px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:16px;
    top:0px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:16px;
    top:0px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:16px;
    top:0px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:16px;
    top:0px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:16px;
    top:0px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../COS-事后刻录_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:38px;
    top:62px;
    width:989px;
    height:50px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:995px;
    height:56px;
}

.u81 {
    position:absolute;
    left:2px;
    top:17px;
    width:985px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../COS-事后刻录_files/u14_normal.png');
}

.u82_container {
    position:absolute;
    left:57px;
    top:51px;
    width:90px;
    height:20px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:51px;
    top:79px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:161px;
    top:76px;
    width:855px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u86_normal {
    background-image: url('../COS-事后刻录_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:542px;
    top:304px;
    width:485px;
    height:162px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:491px;
    height:168px;
}

.u87 {
    position:absolute;
    left:2px;
    top:73px;
    width:481px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../COS-事后刻录_files/u14_normal.png');
}

.u88_container {
    position:absolute;
    left:561px;
    top:294px;
    width:90px;
    height:20px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:555px;
    top:322px;
    width:456px;
    height:131px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u91_container {
    position:absolute;
    left:494px;
    top:707px;
    width:92px;
    height:30px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:30px;
}

.u92 {
    position:absolute;
    left:2px;
    top:7px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u93 {
    position:absolute;
    left:494px;
    top:711px;
    width:93px;
    height:23px;
    overflow:hidden;
}

#pd1u93 {
    position:absolute;
    left:0px;
    top:0px;
    width:93px;
    height:23px;
    
}

.u94 {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u93 {
    position:absolute;
    left:0px;
    top:0px;
    width:93px;
    height:23px;
    
}

.u95 {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_container {
    position:absolute;
    left:383px;
    top:707px;
    width:92px;
    height:30px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:30px;
}

.u97 {
    position:absolute;
    left:2px;
    top:7px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u98 {
    position:absolute;
    left:383px;
    top:711px;
    width:93px;
    height:23px;
    overflow:hidden;
}

#pd1u98 {
    position:absolute;
    left:0px;
    top:0px;
    width:93px;
    height:23px;
    
}

.u99 {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u98 {
    position:absolute;
    left:0px;
    top:0px;
    width:93px;
    height:23px;
    
}

.u100 {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_container {
    position:absolute;
    left:605px;
    top:707px;
    width:92px;
    height:30px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:30px;
}

.u102 {
    position:absolute;
    left:2px;
    top:7px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:605px;
    top:711px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:16px;
    top:0px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

